---
import CodeHero from "../CodeHero.astro";

let widgetCode = `
import anywidget
import traitlets


class CounterWidget(anywidget.AnyWidget):
    _esm = """
    export function render(view) {
      let count = () => view.model.get("value");
      let btn = document.createElement("button");
      btn.innerHTML = \`count is \${count()}\`;
      btn.addEventListener("click", () => {
        view.model.set("value", count() + 1);
        view.model.save_changes();
      });
      view.model.on("change:value", () => {
        btn.innerHTML = \`count is \${count()}\`;
      });
      view.el.appendChild(btn);
    }
    """
    value = traitlets.Int(0).tag(sync=True)
`;

let notebookCode = `\
from mywidget import CounterWidget 

counter = CounterWidget()
counter`;
---

<CodeHero
	filename="mywidget/__init__.py"
	lang="python"
	code={widgetCode}
	url={"localhost:8888/Demo.ipynb"}
	showGrid={false}
>
	<div class="text-sm bg-transparent flex flex-col space-y-4">
		<pre
			class="bg-transparent p-2 rounded border border-gray-400 col-span-4 w-full">{notebookCode}</pre>

		<div class="col-span-4">
			<button
				class="text-xs text-white py-2 px-4 hover:bg-primary-800 bg-primary-600 rounded shadow"
				id="btn"
			>
			</button>
		</div>

		<pre
			class="bg-transparent col-span-4 p-2 rounded border border-gray-400 w-full">counter.value</pre>

		<pre class="text-sm bg-transparent pl-1 py-0" id="pyoutput"></pre>
	</div>
</CodeHero>

<script is:inline>
	let count = 0;
	let btn = document.querySelector("#btn");
	let pyoutput = document.querySelector("#pyoutput");
	function setCount(value) {
		btn.innerHTML = `count is ${value}`;
		pyoutput.innerHTML = value;
	}
	btn.addEventListener("click", () => setCount(++count));
	setCount(0);
</script>
